.chessboard{
    width:600px;
    height:600px;
    border: 1px solid black;
    .tile{
        width: 12.5%;
        height: 12.5%;
        display: inline-block;
    
        &.white{
            background-color: white;
        }
    
        &.green{
            background-color: green;
        }

        .chessPiece{
            position: absolute;
            font-size: 57px;
            margin-left: 9px;
        }
    }
}

